
# to save space in git repo
/vendor
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/node_modules
/public/packages
/public/bower
/public/build
/public/mix
/public/merged
/public/vendor
/public/hot
/public/storage
/public/bower
/public/build
/public/mix
/public/merged
/public/vendor
/resources/views/vendor/mail
.env

#ctag for linux
tags

composer.phar
.composer-cache

_ide_helper*
.phpstorm.meta.php

#mac
.DS_Store
Thumbs.db
.idea/
/scripts/test.php
/scripts/local

# office tmp file
~*

*.rdb

*.pyc

# yarn
yarn.lock

git_merge.sh
